#game-view,
.loading {
  width: 700px;
  margin: 0 auto;
}

#infoContent {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Lucida Grande';
  border-bottom: 1px #eee solid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}

#share {
  color: #888;
  font-size: 0.8em;
}

#share .url {
  color: #888;
}

#timer {
  font-size: 1.5em;
  font-family: "Courier New", monospace;
}

#status-line {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
.red-turn .status-text {
  color: #d13030;
}
.blue-turn .status-text {
  color: #4183cc;
}

#remaining {
  width: 10em;
}
#remaining .red-remaining {
  color: #d13030;
}
#remaining .blue-remaining {
  color: #4183cc;
}

#end-turn-cont {
  width: 10em;
  text-align: right;
}

#end-turn-btn {
  border: 1px #ddd solid;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  padding: 5px;
  background: #eee;
  cursor: pointer;
}

#mode-toggle {
  text-align: right;
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#mode-toggle button {
  padding: 5px;
  border: 1px #ddd solid;
  background: #eee;
  cursor: pointer;
}

#mode-toggle button.gear {
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 2px 8px 0;
}

#mode-toggle button.codemaster {
  border-left: none;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

#mode-toggle button.player {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}

#mode-toggle.player-selected button.player,
#mode-toggle.codemaster-selected button.codemaster {
  cursor: auto;
  color: #999;
}

#next-game-btn {
  margin-left: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 19%;
  height: 18%;
}

.cell.disabled {
  cursor: not-allowed !important;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
}

.board .hidden-word {
  cursor: pointer;
}
.board .neutral.revealed {
  background: #ede2cc;
}

.cell .word {
  vertical-align: middle;
  display: inline-block;
}

.cell {
  background: #e8e8e8;
}

.codemaster .red.hidden-word {
  color: #d13030;
}
.codemaster .blue.hidden-word {
  color: #4183cc;
}
.codemaster .black.hidden-word {
  background: #999;
}
.codemaster .cell {
  font-weight: bold;
}

.board .red.revealed {
  background: #d13030;
  color: #fff;
}
.board .blue.revealed {
  background: #4183cc;
  color: #fff;
}
.board .black.revealed {
  background: #000000;
  color: #fff;
}
.player .board.win > .cell.red.hidden-word {
  background: rgba(209, 48, 48, 0.4);
}
.player .board.win > .cell.blue.hidden-word {
  background: rgba(65, 131, 204, 0.4);
}
.player .board.win > .cell.black.hidden-word {
  background: rgba(153, 153, 153, 0.4);
}
.dark-mode  .codemaster .board.win > .cell.neutral{
  color: #aaa;
}

#remaining span {
  display: inline-block;
  padding: 3px 5px;
}

.color-blind #status {
  padding: 3px 5px;
}

.color-blind .blue-remaining,
.color-blind #status-line.blue #status {
  border: 2px solid #4183cc;
}

.color-blind .red-remaining,
.color-blind #status-line.red #status {
  border: 2px dashed #d13030;
}

.color-blind.codemaster .red.hidden-word,
.color-blind .red.revealed {
  outline: 2px dashed #d13030;
  border: 1px solid white;
}

.color-blind.codemaster .blue.hidden-word,
.color-blind .blue.revealed {
  outline: 2px solid #4183cc;
  border: 1px solid white;
}

.color-blind .revealed .word {
  text-decoration: underline;
}

.dark-mode {
  background: rgb(33, 33, 33);
}
.dark-mode h1 {
  color: #ccc;
}
.dark-mode .cell {
  background: rgb(117, 117, 117);
}
.dark-mode .codemaster .blue {
  color: rgb(13, 64, 123);
}
.dark-mode .codemaster .red {
  color: rgb(140, 15, 15);
}
.dark-mode .codemaster .blue.revealed,
.dark-mode .codemaster .red.revealed {
  color: #fff;
}
.dark-mode .codemaster .black.hidden-word {
  background: #444;
}

.dark-mode #end-turn-btn,
.dark-mode #mode-toggle button {
  background: #444;
  border: 1px #999 solid;
  color: #bbb;
}
.dark-mode #mode-toggle button.gear {
  background-color: transparent;
  border: none;
  color: #444;
}
.dark-mode #remaining {
  color: #eee;
}
.dark-mode #timer {
  color: #eee;
}

#game-view.full-screen {
  width: 98vw;
}
.full-screen .board {
  height: 75vh;
}
.full-screen .cell {
  font-size: 1.5vw;
}
.full-screen #status-line {
  font-size: 3vh;
  margin: 0.25em 0;
}
.full-screen #infoContent {
  justify-content: flex-end;
}
@media (width < 1000px) {
  .full-screen .cell {
    font-size: 2.5vw;
  }
}

.settings {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}

.settings h2 { text-align: center; }

.close-settings {
  position: fixed;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.settings-content {
  max-width: 600px;
  width: 95vw;
  margin: 1em auto;
}

.settings h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 5em 0 2em;
}

.toggle-set {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-set .settings-desc { font-size: 0.8em; color: #555; }

.toggle {
  display: flex;
  height: 32px;
  width: 50px;
  border-radius: 16px;
  background-color: #eee;
  cursor: pointer;
}

.switch {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  background-color: white;
}

.toggle.active {
  background-color: #e1f4d0;
  justify-content: flex-end;
}

.toggle-state {
  font-weight: bold;
}

#coffee {
  margin-top: 2em;
  text-align: right;
  font-size: 0.8em;
}
#coffee a { color: #CCC; }
.dark-mode #coffee a { color: #555; }
.color-blind #coffee a {
  color: #000;
  font-weight: bold;
}
