#game-view, .loading {
    width: 700px;
    margin: 0 auto;
}

#share {
    color: #888;
    margin-bottom: 2em;
    font-size: 0.8em;
    padding-bottom: 2em;
    border-bottom: 1px #EEE solid;
    font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";
}

#share .url { color: #888; }

#status-line {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}
.red .status-text { color: #D13030; }
.blue .status-text { color: #4183CC; }

#remaining { width: 10em; }
#remaining .red-remaining { color: #D13030; }
#remaining .blue-remaining { color: #4183CC; }

#end-turn-cont {
  width: 10em;
  text-align: right;
}

#end-turn-btn {
    border: 1px #DDD solid;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
    background: #EEE;
    cursor: pointer;
}

#mode-toggle {
    text-align: right;
    margin: 2em 5px 2em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#mode-toggle button {
    padding: 5px;
    border: 1px #DDD solid;
    background: #EEE;
    cursor: pointer;
}

#mode-toggle button.gear {
    border: none;
    padding: 0;
    background-color: transparent;
    margin: 2px 8px 0;
}

#mode-toggle button.codemaster {
    border-left: none;
    border-radius: 0 5px 5px 0;
    -moz-border-radius:  0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}

#mode-toggle button.player {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

#mode-toggle.player-selected button.player,
#mode-toggle.codemaster-selected button.codemaster {
    cursor: auto;
    color: #999;
}

#next-game-btn {
    margin-left: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 19%;
  height: 18%;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  height: 500px;
}

.player .board .hidden-word { cursor: pointer; }
.board .neutral.revealed { background: #EDE2CC; }

.cell .word {
    vertical-align: middle;
    display: inline-block;
}

.cell { background: #E8E8E8; }

.codemaster .red.hidden-word { color: #D13030; }
.codemaster .blue.hidden-word { color: #4183CC; }
.codemaster .black.hidden-word { background: #CCC; }
.codemaster .cell { font-weight: bold; }

.board .red.revealed { background: #D13030; color: #FFF; }
.board .blue.revealed { background: #4183CC; color: #FFF; }
.board .black.revealed { background: #000000; color: #FFF; }

#remaining span {
    display: inline-block;
    padding: 3px 5px;
}

.color-blind #status {
    padding: 3px 5px;
}

.color-blind .blue-remaining, .color-blind #status-line.blue #status {
    border: 2px solid #4183cc;
}

.color-blind .red-remaining, .color-blind #status-line.red #status {
    border: 2px dashed #d13030;
}

.color-blind .codemaster .red.hidden-word, .color-blind .red.revealed {
    outline: 2px dashed #d13030;
    border: 1px solid white;
}

.color-blind .codemaster .blue.hidden-word, .color-blind .blue.revealed {
    outline: 2px solid #4183cc;
    border: 1px solid white;
}

.color-blind .revealed .word {
    text-decoration: underline;
}

.settings {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    text-align: center;
}

.close-settings {
    position: fixed;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.settings-content {
    width: 240px;
    margin: 80px auto;
}

.settings h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin: 5em 0 2em;
}

.toggle-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
    display: flex;
    height: 32px;
    width: 50px;
    border-radius: 16px;
    background-color: #eee;
    cursor: pointer;
}

.switch {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    background-color: white;
}

.toggle.active {
    background-color: #34BE5B;
    justify-content: flex-end;
}

.toggle-state {
    font-weight: bold;
}
