html,
body {
  margin: 0;
  font-family: 'Roboto', verdana, sans-serif;
}

#topbar {
  padding: 1em;
}

#topbar a {
  color: black;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: 'Courier New', monospace;
}

h1,
h2,
h3 {
  font-family: 'Courier New', monospace;
}

h2 {
  font-size: 1.1em;
}

p.intro {
  line-height: 1.5em;
  margin-bottom: 3em;
  text-align: justify;
  font-family: verdana;
  font-size: 0.9em;
}

#available-games {
  width: 500px;
  margin: 0 auto;
  font-family: 'Courier New', monospace;
}

#available-games ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#available-games ul li {
  font-size: 1.8em;
  margin: 0.5em 0;
  padding: 0.5em;
  background: #f0f0f0;
}

#available-games ul li:hover {
  background: #a5e5fa;
  cursor: pointer;
}

#new-game {
  margin: 0 auto 100px auto;
}

#new-game input#game-name {
  height: 50px;
  width: 350px;
  padding: 5px 10px;
  font-size: 1.3em;
  border: 1px #ddd solid;
  letter-spacing: 0.1em;
}

#new-game button {
  height: 62px;
  width: 120px;
  padding: 5px 10px;
  background: #85de6f;
  border: 1px #ddd solid;
  font-size: 1em;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
}

#new-game-options {
  margin-top: 1em;
}

.language-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.language-group input {
  margin-right: 0.4rem;
}

.btn-configured-word-set {
  color: #aaa;
  font-family: verdana, sans-serif;
  font-size: 0.8em;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
}

.btn-configured-word-set .label {
  flex-grow: 1;
}

#new-game-options textarea {
  width: 100%;
  height: 25em;
  margin: 0.5em 0;
  font-size: 0.6em;
  border: 1px #ddd solid;
  font-family: 'verdana', sans-serif;
  line-height: 2em;
  text-transform: uppercase;
}

.btn-configured-word-set .symbol {
  width: 1em;
  display: inline-block;
}
.btn-configured-word-set .warning {
  color: #aa2a16;
}
.btn-configured-word-set:hover .label {
  color: #333;
}

.dropdown-label {
  display: flex;
}

#banner {
  width: 500px;
  margin: 0 auto 3em auto;
  font-size: 0.9em;
  border-radius: 0.5em;
  padding: 1em;
  background: #e1f4d0;
}

#banner a {
  color: #000;
  font-weight: bold;
}

#timer-settings {
  margin: 1.5em 0 1.5em -1em;
}

#timer-duration {
  font-family: verdana;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0 1em;
  display: flex;
  align-items: center;
}
#timer-duration span {
  margin-right: 1.5em;
}
#timer-duration label {
  margin-right: 0.6em;
}
#timer-duration input {
  font-size: 1.3em;
  max-width: 50px;
}
