#game-view {
  width: 700px;
  margin: 0 auto;
}

#share {
  color: #888;
  margin-bottom: 3em;
  font-size: 0.8em;
  padding-bottom: 2em;
  border-bottom: 1px #EEE solid;
  font-family: system, -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", "Lucida Grande";
}

#share .url {
    color: #888;
}

#status-line { text-align: center; margin-bottom: 1em; }
.red .status-text { color: #D13030; }
.blue .status-text { color: #4183CC; }
.win .status-text { font-size: 2em; }
#status-line #status {
    display: inline-block;
    font-weight: bold;
}

#remaining { float: left; }
#remaining .red-remaining { color: #D13030; }
#remaining .blue-remaining { color: #4183CC; }

#button-line {
    margin-bottom: 1em;
}

.clear { clear: both; }

#end-turn-btn {
    border: 1px #DDD solid;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
    float: right;
    background: #EEE;
    margin: 0 1em 0 0;
    cursor: pointer;
}

#mode-toggle {
    text-align: right;
    margin: 2em 5px 2em 0;
}

#mode-toggle button {
    padding: 5px;
    border: 1px #DDD solid;
    background: #EEE;
    cursor: pointer;
}

#mode-toggle button.codemaster {
    border-left: none;
    border-radius: 0 5px 5px 0;
    -moz-border-radius:  0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}

#mode-toggle button.player {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

#mode-toggle.player-selected button.player,
#mode-toggle.codemaster-selected button.codemaster {
    cursor: auto;
    color: #999;
}

#next-game-btn {
    margin-left: 10px;
}

.cell {
    width: 120px;
    height: 80px;
    line-height: 80px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
}

.player #board .hidden-word { cursor: pointer; }

#board .neutral.revealed { background: #EDE2CC; }

.cell .word {
    vertical-align: middle;
    display: inline-block;
}

.cell { background: #E8E8E8; }

.codemaster .red.hidden-word { color: #D13030; }
.codemaster .blue.hidden-word { color: #4183CC; }
.codemaster .black.hidden-word { background: #CCC; }
.codemaster .cell { font-weight: bold; }

#board .red.revealed { background: #D13030; color: #FFF; }
#board .blue.revealed { background: #4183CC; color: #FFF; }
#board .black.revealed { background: #000000; color: #FFF; }
